# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- List popular libraries for Data Science
- Some popular tools for Data Science
- Examples of evaluating arithmetic expressions in Python.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Scikit-learn
4. Matplotlib

| Data Science Tools     |
|------------------------|
| Jupyter Notebook       |
| RStudio                |
| Anaconda               |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author

Kaan T. DOGAN